form {
    background-color: rgb(176, 179, 183);
    width: 250px;
    height: 1000px;
    border: 1px solid #999;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    font-size: 14px;
    margin: auto;
    color: green;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    line-height: 24px;
}
h1 {
    font-size: 24px;
}


input {
    width: 250px;
    display: block;
    border: 1px solid grey;
}

textarea {
  width: 250px;
  height: 100px;
}